//Colors-------------------------------
$color-gray-light: #E0E7EE;
$color-gray-dark: #212121;
$color-gray-dark2: #999;
$color-red: rgb(172, 5, 5);

//Elements-----------------------------
$color-bkg: white;
$color-bkg2: $color-gray-dark;
$color-bkg3: $color-gray-light;

$color-border: $color-gray-dark2;

$color-text : $color-gray-dark;

//Resolution---------------------------
$screen-xs: 31.25em; //500px
$screen-sm: 48em; //768px
$screen-md: 62em; //992px
$screen-lg: 75em; //1200px